<div class="profile">

   <h1>PROFILE</h1>

</div>
 <div class="profile-main">
   <div class="profile-left">
     <img src="/renonn.profile.jpg">
   </div>
   
      <div class="profile-right">
        <h3>Lanon</h3>
        <P>ガールズミュージックグループ「RipCar（リプカル）」の作曲・MIX担当</p>
        <P>中学生の頃から趣味で音楽制作に携わり始め、高校生になってから本格的に作曲やMIXを始めました。現在では自信の歌ってみたのMIXも手がけています。この度、歌ってみたを始めてみたい人を中心に、MIXの有償依頼を始めることにいたしました！</p>
      </div>

   
 </div>
</div>
