<div class="top">

  <div class="top-head">
    <img src="/renonn.header.jpg">

  </div>

  <div class="slider">

    <div class="slide">
      <ul>
        <li><iframe 
            style="width: 850px; height: 400px;position: absolute;  " 

            src="https://www.youtube.com/embed/G4TOPBZqQyE" 
            frameborder="0" 
            allow="autoplay; 
            encrypted-media" 
            allowfullscreen>
          </iframe> </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="controller">
      <div class="prev-btn btns">
        <i class="fas fa-angle-left fa-3x"></i>
      </div>
      <div class="indicator">
        <span id="active"></span>
        <span></span>
        <span></span>
        
      </div>
      <div class="next-btn btns">
        <i class="fas fa-angle-right fa-3x"></i>
      </div>
   </div>
 </div> 
</div>