<div class="top-head">
<img src="/renonn.header.jpg">

</div>

<div class="slider">

 <div class="slide">
  <ul>
    <li> <iframe 
        style="position: absolute; top: 0; left: 0; width: 48%; height: 90%;" 

        src="https://www.youtube.com/embed/0dUpQsGH6_g" 
        frameborder="0" 
        allow="autoplay; 
        encrypted-media" 
        allowfullscreen>
      </iframe></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
 </div>
</div>