<div class="top">

  <div class="top-head">
    <img src="/renonn.header.jpg">

  </div>

  <div class="slider">

  <div class="slide">
    <ul>
      <li> <iframe 
          style="width: 70%; height: 50%;position: absolute; top: 0; left: 0; " 

          src="https://www.youtube.com/embed/G4TOPBZqQyE" 
          frameborder="0" 
          allow="autoplay; 
          encrypted-media" 
          allowfullscreen>
        </iframe></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  </div>
</div>