<div class="top">

  <div class="top-head">
    <img src="/renonn.header.jpg">

  </div>

  <div class="slider">

    <div class="slide">
      <ul>
        <li><iframe 
            style="position: absolute;  " 

            src="https://www.youtube.com/embed/G4TOPBZqQyE" 
            frameborder="0" 
            allow="autoplay; 
            encrypted-media" 
            allowfullscreen>
          </iframe> </li>
        <li><iframe
            style="position: absolute;  " 

            src="https://www.youtube.com/embed/x7ySQLxJ_XQ" 
            frameborder="0" 
            allow="autoplay; 
            encrypted-media" 
            allowfullscreen>
          </iframe></li>
        <li><iframe 
            style="position: absolute;  " 

            src="https://www.youtube.com/embed/Xa85u6pDeqI" 
            frameborder="0" 
            allow="autoplay; 
            encrypted-media" 
            allowfullscreen>
          </iframe></li>
        <li><iframe 
            style="position: absolute;  " 

            src="https://www.youtube.com/embed/offbXZTbHQM" 
            frameborder="0" 
            allow="autoplay; 
            encrypted-media" 
            allowfullscreen>
          </iframe></li>
        <li><iframe 
            style="position: absolute;  " 

            src="https://www.youtube.com/embed/tvIqNPxudrw" 
            frameborder="0" 
            allow="autoplay; 
            encrypted-media" 
            allowfullscreen>
          </iframe></li>
      </ul>
    </div>
    <div class="controller">
      <div class="prev-btn btn">
        <i class="fas fa-angle-left fa-3x"></i>
      </div>
      <div class="indicator">
        <span id="active"></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        
      </div>
      <div class="next-btn btn">
        <i class="fas fa-angle-right fa-3x"></i>
      </div>
   </div>
 </div> 
 <h1><%= link_to("more","") %></h1>
</div>
<%= javascript_pack_tag 'slide' %>
 