<div class="menu-outside">
 <div class="menu-line">
   <div class="menu-line2">
     <div class="menu-inside">
       <h1>PRICE LIST</h1>
       <div class="essential">
         <h2>基本</h2>
         <p>ワンコーラス           --3000円</p>
         <p>フルコーラス           --5000円</p>
       </div>
       <div class="option">
         <h2>オプション</h2>
         <p>スマホ録音   --2000円</p>
         <p>ケロケロボイス  --1000円</p>
         <p>本家再現    --5000円</p>
         <p>お好みの加工  --500円～3000円</p>
         <p>日時指定  --2</p>
         <p></p>
         <p></p>
         <p></p>
       </div>




     </div>
   </div>
 </div>
</div>