<div class="menu-outside">
 <div class="menu-line">
   <div class="menu-line2">
     <div class="menu-inside">
       <h1>PRICE LIST</h1>
       <div class="essential">
         <h2>基本</h2>
         <p>ワンコーラス           --3000円</p>
         <p>フルコーラス           --5000円</p>
       </div>
       <div class="option">
         <h2>オプション</h2>
         <p>スマホ録音   --2000円</p>
         <p>ケロケロボイス  --1000円</p>
         <p>本家再現    --5000円</p>
         <p>お好みの加工  --500円～3000円</p>
         <p>日時指定  --2000円</p>
         <p>即日納品   --5000円</p>
         <p>本家動画と完成音源の合成--500円</p>
         <p>完成後のリテイク：3回目まで無料、4回目以降1回につき500円</p>
       </div>
       <div class="discount">
         <h2>割引</h2>
         <p>常連割引  --  -1500円（3回目から）</p>
         <p>学割 --30%割引（学生証などの提示が必要です。）</p>
       </div>




     </div>
   </div>
 </div>
</div>
<h1>◇依頼の流れ◇</h1>
<p></p>
<h2>①依頼受付</h2>
<p></p>
<h2>②音源受取</h2>
<p></p>
<h2>③進歩確認（希望者のみ）</h2>
<p></p>
<h2>④完成品確認</h2>
<p></p>
<h2>⑤お支払い</h2>
<h2>⑥納品</h2>

