<div class="menu-outside">
 <div class="menu-line">
   <div class="menu-line2">
     <div class="menu-inside">
       <h1>PRICE LIST</h1>
       <div class="essential">
         <h2>基本</h2>
         <p>ワンコーラス           --3000円</p>
         <p>フルコーラス           --5000円</p>
       </div>
       <div class="option">
         
       </div>




     </div>
   </div>
 </div>
</div>